<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>chickencoop.us</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>home-server</MSDeployServiceURL>
    <DeployIisAppPath>ChickenCoop</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>HOME-SERVER/Administrator</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SQL Server" Order="1" Enabled="False">
          <Destination Path="Data Source=HOME-SERVER;Initial Catalog=ChickenCoop;Persist Security Info=True;User ID=sqluser;Password=Potato1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=HOME-SERVER;Initial Catalog=ChickenCoop;Persist Security Info=True;User ID=sqluser;Password=Potato1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQL Server_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=HOME-SERVER;Initial Catalog=ChickenCoop;Persist Security Info=True;User ID=sqluser;Password=Potato1" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SQL Server-Web.config Connection String">
      <ParameterValue>Data Source=HOME-SERVER;Initial Catalog=ChickenCoop;Persist Security Info=True;User ID=sqluser;Password=Potato1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>